:root {
  --elementHeight: 38px;
  --drop-shadow: drop-shadow(0 4px 6px #0e163305) drop-shadow(0 2px 4px #0e163305) drop-shadow(1px 1px 1px #ddedfe);
  --fontSizeEmojis: 15px;
  --gap: 20px;
  --lightBlue: #ddedfe;
  --transition: all .3s ease-in-out;
  --white: #fdfeff;
  --fontColorMain: #0e1633;
  --warning: #c83737;
  --backgroundGradient: linear-gradient(#fdfeff, #ddedfe);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--backgroundGradient);
  color: var(--fontColorMain);
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 19px;
  font-weight: 600;
}

a,
button,
input,
select {
  all: unset;
  color: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

button,
.button {
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: var(--white);
  border-radius: 50%;
  filter: var(--drop-shadow);
  font-size: 15px;
  padding: 9px;
  transition: var(--transition);
  width: var(--elementHeight);
  height: var(--elementHeight);

  &:active {
      background-color: var(--lightBlue);
  }
}

label {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  height: var(--elementHeight);

  & .label {
      grid-area: 1 / 1 / 1 / 1;
      z-index: 1;
      padding: 0 20px;
      transform-origin: top left;
      translate: 0 -10px;
      font-size: 0.6em;
      transition: var(--transition);
      opacity: 0.7;
  }

  &:has(.empty) .label {
      translate: 0;
      font-size: 1em;
      opacity: 0.5;
  }
}

input,
select {
  grid-area: 1 / 1 / 1 / 1;
  display: block;
  background: var(--white);
  border-radius: calc(var(--elementHeight) / 2);
  height: 100%;
  width: 100%;
  padding: 5px 20px 0 20px;
  filter: var(--drop-shadow);
}

select {
  display: flex;
  align-items: center;
  position: relative;
  display: block;
  background-image:
      linear-gradient(45deg, transparent 50%, var(--fontColorMain) 50%),
      linear-gradient(135deg, var(--fontColorMain) 50%, transparent 50%);
  background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px);
  background-size:
      5px 5px,
      5px 5px;
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  text-align: center;

  &.visible {
      opacity: 1;
      pointer-events: all;
  }

  & .content {
      background: var(--white);
      filter: var(--drop-shadow);
      border-radius: calc(var(--elementHeight) / 2);
      padding: 20px;
      position: relative;
      width: 80%;
      max-width: 400px;

      & h2 {
          margin-bottom: var(--gap);
      }

      & h3 {
          color: var(--warning);
      }

      .actions {
          display: flex;
          gap: var(--gap);
          justify-content: flex-end;
          margin-top: var(--gap);
      }
  }
}

.categoriesWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: calc(100% + 20px);

  &.reorder {
      width: 100%;
  }
}

.category {
  display: flex;
  justify-content: space-between;
  transition: var(--transition);
  height: var(--elementHeight);
  opacity: 1;

  &.deleted {
      height: 0;
      scale: 1 0;
      opacity: 0;
  }

  & .actions {
      display: flex;
      gap: calc(var(--gap) / 2);
      opacity: 0;
      width: 0px;
      transition: var(--transition);
      will-change: width;

      &.visible {
          width: calc(calc(var(--elementHeight) * 2) + calc(var(--gap) / 2));
          opacity: 1;
      }
  }

  &#cat5 {
      z-index: 1;
  }
}

.container {
  overflow-x: hidden;
  padding: 40px;
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pageActions,
.formActions {
  display: flex;
  gap: calc(var(--gap) / 2);
  justify-content: flex-end;
  margin-top: var(--gap);
  z-index: 1;
}

.pageActions.fixed {
  position: fixed;
  z-index: 1;
  bottom: var(--gap);
  right: var(--gap);
}

.formActions {
  margin-top: 0;
}

.plantBottom {
  animation: swingX 5s 1s infinite;
  bottom: 0;
  height: 120px;
  position: absolute;
  transform-origin: bottom right;
  transition: all .5s ease-in-out;
  width: 100%;

  & img {
      max-height: 100%;
      object-fit: cover;
      object-position: top;
      transform-origin: bottom right;
      transition: all .5s ease-in-out;
  }
}

.plantBottom img,
.plantSide img,
.plantTop img {
  filter: var(--drop-shadow);
  width: 100%;
}

.plantBottomWrapper {
  bottom: 0;
  height: 200px;
  overflow: hidden;
  perspective: 100px;
  position: absolute;
  right: 0;
  width: 120px;
  z-index: 1;
  opacity: 0;
  translate: 100% 0;
  transition: var(--transition);

  &.visible {
      opacity: 1;
      translate: 0;
  }

  &.clicked {
      pointer-events: none;

      & img {
          rotate: 50deg;
          translate: 0 15px;
      }

  }
}

.plantSide {
  height: calc(100% - 5px);
  left: -50px;
  position: absolute;
  top: 6px;
  width: 80px;
  z-index: 1;
  opacity: 0;
  translate: -100% 0;
  transition: var(--transition);

  &.visible {
      opacity: 1;
      translate: 0;
  }

  & img {
      height: 100%;
      object-fit: cover;
      object-position: right;
  }
}

.plantTop {
  animation: swing 5s infinite;
  position: absolute;
  right: 10px;
  top: 0;
  transform-origin: top center;
  width: 165px;
  opacity: 0;
  translate: 0 -50%;
  transition: var(--transition);
  pointer-events: none;

  &.visible {
      opacity: 1;
      translate: 0;
  }
}

.subcategories {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);

  & .category .content {
      width: 100%;

      & .link {
          align-items: center;
          display: flex;
          filter: var(--drop-shadow);
          flex-grow: 1;
          height: 100%;
          justify-content: flex-start;
          -webkit-tap-highlight-color: transparent;

          & .emoji {
              background: var(--white);
              border-radius: 50%;
              flex-shrink: 0;
              height: var(--elementHeight);
              position: relative;
              width: var(--elementHeight);

              & .icon {
                  font-size: var(--fontSizeEmojis);
                  left: 50%;
                  position: absolute;
                  top: 50%;
                  translate: -50% -50%;
              }
          }

          & .title {
              background: var(--white);
              border-radius: calc(var(--elementHeight) / 2);
              height: var(--elementHeight);
              mask: radial-gradient(21px at 5px 19px, #0000 98%, #000);
              translate: -20px 0;
              width: 100%;

              & .titleContent {
                  height: 100%;
                  left: 0;
                  overflow: hidden;
                  padding: 10px 10px 10px 35px;
                  position: absolute;
                  text-overflow: ellipsis;
                  top: 0;
                  white-space: nowrap;
                  width: 100%;
              }
          }
      }
  }
}

.subcategoriesWrapper {
  position: relative;
}

.entriesWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  min-height: 100%;
  flex-grow: 1;

  & .header {
      display: flex;
      align-items: center;
      gap: var(--gap)
  }

  & .emoji {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 250px;
      opacity: 0.2;
      translate: 15% -15%;
      /* filter: brightness(1) sepia(1) hue-rotate(182deg) saturate(3); */
  }
}

.entryWrapper {
  background: var(--white);
  border-radius: calc(var(--elementHeight) / 2);
  filter: var(--drop-shadow);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 4);

  & .entry {
      position: relative;
      display: flex;
      justify-content: space-between;

      &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: calc(var(--gap) / -8);
          background-color: var(--lightBlue);
      }

      &:last-child:after {
          display: none;
      }

      &.template {
          display: none;
      }

      & .title {
          all: unset;
          flex-grow: 1;

          &[contenteditable] {
              outline: 0px solid transparent;
              padding-left: 1px;
          }
      }

      & .actions {
          opacity: 0;
          pointer-events: none;
          z-index: 1;
          transition: var(--transition);
      }

      &.active .actions {
          opacity: 1;
          pointer-events: all;
      }


      & .similar {
          position: absolute;
          background: var(--white);
          border-radius: calc(var(--elementHeight) / 4);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          filter: var(--drop-shadow);
          padding: calc(var(--gap) / 2) var(--gap);

          top: calc(100% + 3px);
          width: 100%;
          z-index: 1;
          opacity: 0;
          transition: var(--transition);
          pointer-events: none;

          & .label {
              font-size: 0.6em;
              opacity: 0.7;
              margin-bottom: 5px;
          }

          & .results {
              display: flex;
              flex-direction: column;
              gap: calc(var(--gap) / 4);
          }
      }

      &.active:focus-within .similar {
          opacity: 1;
      }

  }
}

.imageEntryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  z-index: 1;

  &:has(.selected) .entry .image {
      filter: saturate(0);
  }

  & .entry {
      filter: var(--drop-shadow);
      border-radius: calc(var(--elementHeight) / 8);
      overflow: hidden;
      border: 1px solid transparent;
      transition: var(--transition);

      &.selected {
          border: 1px solid var(--fontColorMain);

          & .image {
              filter: saturate(1);
          }
      }
  }

  & .image {
      height: 100%;
      transition: var(--transition);

      &.noImage {
          background: var(--lightBlue);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          text-align: center;
          color: var(--fontColorMain);
          font-weight: 600;
      }

      & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.active {
              view-transition-name: media-thumbnail;
              contain: layout;
          }
      }
  }
}

.singleEntry {
  z-index: 1;
  flex-grow: 1;
  overflow: hidden;
  
  & .images {
      position: relative;

      
      & .image {
          view-transition-name: media-thumbnail;
          overflow: hidden;
          
          & img {
              translate: 0 0;
              transition: 5s ease-in-out;

          }
      }
      
      & .imageShredded {
          gap: 5px;
          position: absolute;
          top: 100%;
          height: 100%;
          width: 100%;
          overflow: hidden;
          
          & img {
              position:absolute;
              object-fit: cover;
              height: 100%;
              width: 100%;
              translate: 0 -100%;
              transition: 5s ease-in-out;
              clip-path: polygon(var(--offset) 0, calc(var(--offset) + 9%) 0, calc(var(--offset) + 9%) 100%, var(--offset) 100%);;

          }
      }
      
  }
      &.shredded {
          & .image img {
              translate: 0 100%;
          }
          
          & .imageShredded img {
              translate: 0 0;
          }
          &.done {
              .imageShredded img{
                  transition:3s var(--timeOffset) ease-in;
                  translate: 0 100%;
              }
          }
      }
}



@keyframes swing {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-1deg);
  }
}

@keyframes swingX {
  0% {
      transform: rotateX(0deg);
  }

  100% {
      transform: rotateX(0deg);
  }

  50% {
      transform: rotateX(3deg);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}